<div id="search-container">
  <input id="input-elem" class="form-control form-control-lg" type="text" placeholder="Please enter the keyword here..">
  <button id="search-btn" class="btn btn-outline-primary">Search</button>
</div>

<div id="loader-container" hidden>
  <h2>Fetching articles, please wait</h2>
  <div class="loader"></div>
</div>

<div id="news-container-parent" hidden>
  <i id="back-button" class="fa fa-2x fa-arrow-left"></i>
  <div id="news-container">
  </div>
</div>

<style>
  #search-container {
    margin: 20% auto;
    width: 40%;
    display: flex;
    align-items: baseline;
  }

  #news-container {
    margin: 5% auto;
  }

  .btn {
    color: #0f4c81;
    border-color: #0f4c81;
  }

  .btn:hover {
    background-color: #0f4c81;
    color: white;
  }

  #search-btn {
    border-radius: 25px;
    margin-left: 20px;
    width: 20%;
  }

  #search-btn:hover {
    background-color: #0f4c81;
    color: white;
  }

  #input-elem {
    border-radius: 25px;
  }

  .news-card {
    display: flex !important;
    width: 60% !important;
    margin: 20px auto;
    flex-direction: row;
    box-sizing: border-box;
  }

  .card-img-top {
    height: 200px;
    width: 400px;
    object-fit: cover;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  #view-article-btn {
    align-self: flex-end;
  }

  #back-button {
    margin: 20px;
    cursor: pointer;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0f4c81;
    width: 120px;
    height: 120px;
    margin: 50px auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  #loader-container {
    margin: 15% auto;
    width: 30%;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>

<script>

  const FETCH_NEWS_API_ENDPOINT = '/fetch-news';

  const showNews = () => {
    const inputElem = document.getElementById('input-elem');
    const queryString = inputElem.value;

    inputElem.value = "";

    const loaderContainer = document.getElementById('loader-container');
    const searchContainer = document.getElementById('search-container');

    loaderContainer.hidden = false;
    searchContainer.hidden = true;

    if (queryString !== "") {
      const queryObj = {
        queryString: queryString
      }

      axios.post(FETCH_NEWS_API_ENDPOINT, queryObj)
        .then(({ data }) => {
          if (data.success) {
            const articles = data.data.articles;
            const newsContainer = document.getElementById('news-container');
            const newsContainerParent = document.getElementById('news-container-parent');
            newsContainerParent.hidden = false;
            loaderContainer.hidden = true;

            if (!articles.length) {
              newsContainer.innerHTML = '<h1 style="text-align:center;">No results found</h1>';
            } else {
              for (let article of articles) {
                const descriptionTruncateLimiter = article.description.length < 150 ? article.description.length : 150;
                newsContainer.innerHTML += `<div class="card news-card">
                                            <div>
                                              <img class="card-img-top" src="${article.urlToImage}"
                                                alt="Card image cap">
    
                                            </div>
                                            <div class="card-body">
                                              <h5 class="card-title">${article.title}</h5>
                                              <p class="card-text">${article.description.substring(0, descriptionTruncateLimiter)}</p>
                                              <a id="view-article-btn" href="${article.url}" class="btn btn-outline-primary" target="_blank">View Article</a>
                                            </div>
                                          </div>`;
              }

            }
          }
        }).catch(err => console.log(err));
    }
  }

  const showSearch = () => {
    const searchContainer = document.getElementById('search-container');
    const newsContainer = document.getElementById('news-container');
    const newsContainerParent = document.getElementById('news-container-parent');
    searchContainer.hidden = false;
    newsContainerParent.hidden = true;
    newsContainer.innerHTML = "";
  }

  document.getElementById('back-button').onclick = showSearch;
  document.getElementById('search-btn').onclick = showNews;
  document.addEventListener('keyup', (event) => {
    if (event.keyCode === 13) {
      showNews();
    }
  });

</script>